:host {
  display: flex;
  padding: 12px 0;
  box-sizing: border-box;
}
:host(:not(:defined)) {
  display: none;
}

.content {
  flex: auto;
}

:host([border]:not(:last-child)) {
  border-right: 1px solid var(--uni-border-color, #dcdfe6);
  border-bottom: 1px solid var(--uni-border-color, #dcdfe6);
}
